<div id="register-form">
    <h2 class="mb-5">Inscription</h2>
    <form>
        <div class="mb-3">
            <label for="email" class="form-label">Adresse email</label>
            <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="password" />
        </div>
        <button type="submit" class="btn btn-primary">Inscription</button>
    </form>
</div>
