<!-- Bouton de retour amélioré -->
<a routerLink="/projects" class="btn btn-secondary mb-3">
    <i class="bi bi-arrow-left"></i> Retour à la liste des projets
</a>

<ng-container *ngIf="project">
    <!-- Section Utilisateurs -->
    <div class="card">
        <div class="card-header">
            <h4>Utilisateurs du projet</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li *ngFor="let user of users" class="list-group-item">
                {{ user.email }} - Rôle : {{ user.role }}
            </li>
        </ul>
    </div>

    <!-- Formulaire d'ajout d'utilisateur -->
    <div class="card mt-4" *ngIf="isUserAdmin">
        <app-form-manage-user-project
            [projectId]="project.id"
            (refreshUsers)="handleRefreshUsers()"
        />
    </div>

    <!-- Contenu principal -->
    <div class="card mb-4">
        <div class="card-header">
            <h2>{{ project.name }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Détails du projet</h5>
            <p class="card-text">{{ project.description }}</p>
            <h6 class="card-subtitle mb-2 text-muted">
                Date de début : {{ project.startDate | date : "mediumDate" }}
            </h6>
        </div>
    </div>

    <div class="card mt-4 mb-4" *ngIf="isUserAdmin || isUserMember">
        <button class="btn btn-primary" (click)="handleOpenCreateTaskForm()">
            Créer une tâche
        </button>
        <app-form-task
            *ngIf="isOpenCreateTaskForm"
            [projectId]="project.id"
            (refreshTasks)="handleRefreshTasks()"
        />
    </div>

    <!-- Section Tâches -->
    <div class="card">
        <div class="card-header">
            <h4>Tâches du projet</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li
                *ngFor="let task of tasks"
                class="list-group-item task"
                (click)="handleOpenTask(task)"
            >
                <div class="row">
                    <!-- Informations de la tâche -->
                    <div class="col-md-4">
                        <h5>{{ task.name }}</h5>
                        <p>{{ task.description }}</p>
                        <small class="text-muted">
                            Échéance :
                            {{
                                task.dueDate
                                    ? (task.dueDate | date : "mediumDate")
                                    : "Non défini"
                            }}
                        </small>
                    </div>

                    <!-- Gestion des utilisateurs -->
                    <div class="col-md-4">
                        <ul
                            class="list-unstyled"
                            *ngIf="task.users && task.users.length > 0"
                        >
                            <li *ngFor="let user of task.users">
                                {{ user.email }}
                            </li>
                        </ul>
                        <div
                            class="alert alert-warning"
                            role="alert"
                            *ngIf="!task.users || task.users.length === 0"
                        >
                            Aucun utilisateur assigné.
                        </div>
                    </div>

                    <!-- Priorité et statut -->
                    <div class="col-md-4 text-md-end">
                        <span class="badge bg-primary">{{
                            task.status | translateStatus
                        }}</span>
                        <app-star-rating
                            [priority]="task.priority"
                            [readonly]="true"
                        ></app-star-rating>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-container>
<!-- Message d'erreur si aucun projet n'est trouvé -->
<ng-container *ngIf="!project">
    <div class="alert alert-warning" role="alert">Aucun projet trouvé.</div>
</ng-container>
