.kanban-column {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;

    .kanban-column-title {
        border-bottom: 2px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .kanban-task {
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}